<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>GGFF15 Login</title>
    <link rel="stylesheet" href="../static/css/login.css" />
</head>
<body>
    <form id="Login" method="post" name="Login">
        <div class="imgcontainer">
            <img src="../static/img/ggff15logo.png" alt="Logo" class="avatar">
        </div>

        <div class="container" div align="center">
            <label for="uname"><b>Username</b></label>
            <input type="text" id="username" placeholder="Username" name="userid"/>

            <label for="psw"><b>Password</b></label>
            <input type="password" id="password" placeholder="Password" name="passid"/>

            <button type="submit" id="submit" onclick="check(this.form)">Login</button>
        </div>
    </form>

</body>
</html>
